/* For this module, I learned a shortcut to streamline the coding process.  If
it is determined that all items on a CSS Grid are to be aligned in the same
manner, using the justify-items property is the most efficient way to accomplish
this.  The property uses the following call, justify-items: and it accepts the
same options as justify-self. */

<style>
  .item1{background:LightSkyBlue;}
  .item2{background:LightSalmon;}
  .item3{background:PaleTurquoise;}
  .item4{background:LightPink;}
  .item5{background:PaleGreen;}

  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

/* My solution for Part 12. */

    /* add your code below this line */
    justify-items: center;

    /* add your code above this line */

/*--------------------------*/

  }
</style>

<div class="container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
</div>
