/*For this module, I learned that the three important properties that control
the space around each element are padding, margin, and border.  I learned how
to change the padding for an HTML element.*/

<style>
  .injected-text {
    margin-bottom: -25px;
    text-align: center;
  }

  .box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
  }

  .yellow-box {
    background-color: yellow;
    padding: 10px;
  }

  .red-box {
    background-color: crimson;
    color: #fff;
    padding: 20px;
  }

/* My solution for Part 16. */

  .blue-box {
    background-color: blue;
    color: #fff;
    padding: 20px;
  }

/*--------------------------*/

</style>
<h5 class="injected-text">margin</h5>

<div class="box yellow-box">
  <h5 class="box red-box">padding</h5>
  <h5 class="box blue-box">padding</h5>
</div>
